body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.top-menu-navigation,
.user {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-menu-navigation a,
.user a {
  color: #ffffff;
}

.top-menu-navigation a:hover,
.top-menu-navigation a:focus,
.user a:hover,
.user a:focus {
  background-color: #242424;
}

a.button-green {
	background-color: #63a63e;
}

h1 {
  width: 196px;
  height: 60px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
} 

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-navigation {
  list-style: none;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #242424;
}

.index-columns {
  color: #000000;

  background-color: #ffffff;
  background-image: url("img/pattern-light.jpg"); 
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 30px;
}

.company-names {
	list-style: none;
}

.map-address {
  background-color: #cccccc;
}

.company-names a,
.map-address a {
  color: #ffffff;
}

.company-names a:hover,
.company-names a:focus,
.map-address a:hover,
.map-address a:focus {
  background-color: #242424;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-footer {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;

  background-color: #32425c;
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-navigation {
  list-style: none;
}

.footer-navigation a {
	color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus
{
  text-decoration: underline;
  background-color: #242424;
}

.footer-extras {
  list-style: none;
}

.footer-extras a {
	color: #ffd180;
}

.footer-extras a:hover,
.footer-extras a:focus
{
  text-decoration: underline;
  background-color: #242424;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #ee3643;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright ul {
  list-style: none;
}

.footer-copyright {
  color: #000000;

  background-color: #293449;
}

.footer-feedback a {
  color: #ffd180;
}

.footer-feedback a:hover {
  text-decoration: underline;

}

.footer-feedback a:focus {
  color: #ee3643;
}

.footer-developers a {
  color: #ffd180;
}

.footer-developers a:hover {
  text-decoration: underline;

}

.footer-developers a:focus {
  color: #ee3643;
}

.inner-page {
	color: #000000;

	background-color: #ffffff;
	background-image: url("img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

h2 {
	color: 32425c;
	font-size: 30px;
	line-height: 30px;
}

/*разметка сеток*/
.main-header {
	margin-bottom: 46px;
	min-height: 47px;
}

.main-header-top {
	display: flex;
	height: 42px;
	width: 940px;
	margin: 0 auto;
}

.top-menu-navigation-bookmarks {
	display: flex;
	background-image: url("../img/elements/icon-bookmark.svg");
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
}

.top-menu-navigation-bookmarks-link {
	display: flex;
	align-items: center;
}

.main-header-logo {
	display: flex;
	padding-right: 17px;
}

.search {
	display: flex;
	align-items: center;
	background-image: url("../img/elements/icon-search.svg");
	background-repeat: no-repeat;
	padding-left: 15px;
	padding-right: 197px;
	background-position: left center;
}